.leaflet-default-icon-path {
	/*background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png);*/
	background-image: url(https://i.imgur.com/sRYqrGM.png);
}
.leaflet-default-shadow-path {
	background-image: url(https://unpkg.com/leaflet@1.9.4/dist/images/marker-shadow.png);
}
